In [1]:
import recordlinkage
from Annotation_helper import *
import numpy as np

In [2]:
s = pd.Series(data=['hello there 23450[] kenobi'])

In [3]:
preprocess_column(s)

E:\UvA\Scriptie\Thesis_code\Annotation\Annotation_helper.py:31: FutureWarning: The default value of regex will change from True to False in a future version.
  col = col.str.replace('[^a-zA-Z ]', '')

0    hello there  kenobi
dtype: object

In [4]:
data_folder = "../../Data"
structured_data_folder = data_folder + "/structured_data"
text_path = data_folder + "/text"
data_path = structured_data_folder + "/test.csv"
dist_folder = structured_data_folder + "/Distances/"
figure_folder = "../Figures/Results/Embeddings"
model_folder = "../Models/Embeddings"
matches = pd.read_csv(structured_data_folder + "/Matches/Bas3.csv", index_col=0)
figure_folder = "../Figures/Distances"

In [5]:
transactions = load_transactions("../../Data/structured_data\VOC Cochin Slave Transactions 1706-1801 - IISH - Database - 2018 - v1.csv")
permissions = load_permissions("../../Data/structured_data\VOC Cochin Slave Transport Permissions 1770-1795 - IISH - Database - 2018 - v1.csv")

In [6]:
transactions.columns

Index(['Unnamed: 0', 'ID', 'Datum', 'VerkoperVoornaam', 'VerkoperPatroniem',
       'VerkoperTussen', 'VerkoperAchternaam', 'VerkoperGender',
       'VerkoperHerkomst', 'VerkoperBeroep', 'VerkoperWerkplek',
       'VerkoperEtniciteit', 'VerkoperStatus', 'KoperVoornaam',
       'KoperPatroniem', 'KoperTussen', 'KoperAchternaam', 'KoperGender',
       'KoperHerkomst', 'KoperBeroep', 'KoperWerkplek', 'KoperEtniciteit',
       'KoperStatus', 'SlaafNaamNieuw', 'SlaafNaamOrigineel', 'SlaafTaalNaam',
       'SlaafKaste', 'SlaafGender', 'SlaafLeeftijd', 'Opmerking', 'Entry-ID'],
      dtype='object')

In [7]:
permissions.columns

Index(['ID', 'Permissie', 'Inventarisnummer', 'Scan', 'Plaats', 'Datum',
       'BezitterVoornaam', 'BezitterPatroniem', 'BezitterTussen',
       'BezitterAchternaam', 'BezitterGender', 'BezitterHerkomst',
       'BezitterBeroep', 'BezitterWerkplek', 'BezitterEtniciteit',
       'BezitterStatus', 'SlaafNaamNieuw', 'SlaafNaamOrigineel', 'SlaafKaste',
       'SlaafGender', 'Opmerking', 'Betaling', 'Door[Kantlijn]', 'Entry-ID'],
      dtype='object')

In [8]:
permissions[permissions["BezitterEtniciteit"].notna()]

,ID,Permissie,Inventarisnummer,Scan,Plaats,Datum,BezitterVoornaam,BezitterPatroniem,BezitterTussen,BezitterAchternaam,...,BezitterEtniciteit,BezitterStatus,SlaafNaamNieuw,SlaafNaamOrigineel,SlaafKaste,SlaafGender,Opmerking,Betaling,Door[Kantlijn],Entry-ID
24,,25,897,1,cochin,,david,NaN,NaN,more,...,engels,NaN,joan,NaN,NaN,m,NaN,mits betalende geregtigheid aan den pagter,den vaandrig der burgerije m lavier,24
106,,8,897,5,cochin,,juhn,NaN,NaN,meken,...,engelsch,NaN,october,NaN,NaN,m,NaN,NaN,NaN,106
107,,9,897,5,cochin,,juhn,NaN,NaN,meken,...,engelsch,NaN,october,NaN,NaN,m,NaN,NaN,NaN,107
108,,10,897,5,cochin,,paxsou,NaN,NaN,NaN,...,engelsch,NaN,roza,NaN,NaN,v,NaN,enz,den herbergier groenroode gekogt,108
109,,11,897,5,cochin,,kepp,NaN,NaN,NaN,...,engelsch,NaN,thome,NaN,NaN,m,NaN,enz,daniel bakker verkogt,109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3919,,3,1333,242,cochin,,NaN,NaN,NaN,NaN,...,deens,NaN,roza,NaN,NaN,v,NaN,gerechtigheid,NaN,3919
3920,,4,1333,242,cochin,,douglas,NaN,NaN,NaN,...,engels,NaN,antoni,NaN,NaN,m,NaN,gerechtigheid,,3920
3922,,1,1333,243,cochin,,jean,NaN,NaN,jasjean,...,frans,NaN,dalida,NaN,NaN,v,NaN,gerechtigheid,NaN,3922
3923,,2,1333,243,cochin,,douglas,NaN,NaN,NaN,...,engels,NaN,flo,NaN,NaN,NaN,NaN,gerechtigheid,NaN,3923
3927,,6,1333,243,cochin,,ulrica,NaN,NaN,NaN,...,deens,NaN,tjampaka,NaN,NaN,v,NaN,gerechtigheid,de moor mamada lebbe,3927

In [9]:
permissions["BezitterEtniciteit"].unique()

array([nan, 'engels', 'engelsch', 'jood', 'fransch', 'portugees',
       'armeender', 'engelsche', 'moor', 'engelsman', 'maleijs', 'toepas',
       'joods', 'armeens', 'deens', 'portugeesch', 'frans', 'deen',
       'englesch', 'armenijer', 'armeniers', 'arabier', 'armeensch',
       'armeendersch', 'fransman', 'deensch', 'italiaansch', 'moorsch',
       'malaitsch', 'het schip teijlingen'], dtype=object)

In [10]:
transactions[transactions["Entry-ID"] == 4280].iloc[0]

Unnamed: 0                          4280
ID
Datum                                NaN
VerkoperVoornaam                     NaN
VerkoperPatroniem                    NaN
VerkoperTussen                       NaN
VerkoperAchternaam                   NaN
VerkoperGender                         m
VerkoperHerkomst                     NaN
VerkoperBeroep                 lascorijn
VerkoperWerkplek                     NaN
VerkoperEtniciteit    christen lascorijn
VerkoperStatus        inw tot paponettij
KoperVoornaam                   johannes
KoperPatroniem                       NaN
KoperTussen                          van
KoperAchternaam                  zuijlen
KoperGender                            m
KoperHerkomst                        NaN
KoperBeroep                      pennist
KoperWerkplek                     cochin
KoperEtniciteit                      NaN
KoperStatus                          voc
SlaafNaamNieuw                   orbanus
SlaafNaamOrigineel                ittama
SlaafTaalNaam                 mallabaars
SlaafKaste                        parrea
SlaafGender                            m
SlaafLeeftijd
Opmerking                            NaN
Entry-ID                            4280
Name: 4280, dtype: object

In [11]:
dist_metric = 'levenshtein'
indexer = recordlinkage.Index()
indexer.full()
candidate_links = indexer.index(permissions, transactions)

compare_cl = recordlinkage.Compare()

compare_cl.exact('SlaafGender', 'SlaafGender', label='SlaafGender')
compare_cl.string('SlaafNaamNieuw', 'SlaafNaamNieuw', label='SlaafNaamNieuw', method=dist_metric)
compare_cl.exact('BezitterGender', 'KoperGender', label='BezitterGender')
compare_cl.string('BezitterVoornaam', 'KoperVoornaam', label='BezitterVoornaam', method=dist_metric)
compare_cl.string('BezitterTussen', 'KoperTussen', label='BezitterTussen', method=dist_metric)
compare_cl.string('BezitterAchternaam', 'KoperAchternaam', label='BezitterAchternaam', method=dist_metric)
compare_cl.string('BezitterBeroep', 'KoperBeroep', label='BezitterBeroep', method=dist_metric)
compare_cl.string('BezitterStatus', 'KoperStatus', label='BezitterStatus', method=dist_metric)
compare_cl.string('BezitterEtniciteit', 'KoperEtniciteit', label='BezitterEtniciteit', method=dist_metric)
n_batches = 100
split_perm = np.array_split(permissions, n_batches)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [12]:
for i, p in enumerate(split_perm):
    print(f"[{i}/{n_batches}]")
    candidate_links = indexer.index(p, transactions)
    features = compare_cl.compute(candidate_links, p, transactions)
    features = features.reset_index()
    features = features.rename(columns={"level_0": "permission_indx", "level_1": "transaction_indx"})
    features.to_csv(f"{dist_folder}distances_{i}.csv", index=False)
    clear_output(wait=True)

[99/100]

In [13]:
distances = pd.read_csv(dist_folder + "/distances_0.csv", dtype={'permission_indx': 'uint16', 'transaction_indx': 'uint16', 'SlaafGender': 'bool', 'SlaafNaamNieuw': 'float16', 'BezitterGender': 'bool', 'BezitterVoornaam': 'float16', 'BezitterBeroep': 'float16', 'BezitterAchternaam': 'float16'})
for i in range(1, 99):
    df2 = pd.read_csv(f"{dist_folder}/distances_{i}.csv", dtype={'permission_indx': 'uint16', 'transaction_indx': 'uint16', 'SlaafGender': 'bool', 'SlaafNaamNieuw': 'float16', 'BezitterGender': 'bool', 'BezitterVoornaam': 'float16', 'BezitterBeroep': 'float16', 'BezitterAchternaam': 'float16'})
    distances = pd.concat([distances, df2])
distances.reset_index(inplace=True)

In [14]:
distances

,index,permission_indx,transaction_indx,SlaafGender,SlaafNaamNieuw,BezitterGender,BezitterVoornaam,BezitterTussen,BezitterAchternaam,BezitterBeroep,BezitterStatus,BezitterEtniciteit
0,0,0,0,True,0.000000,False,0.000000,0.0,0.000000,0.0,0.0,0.0
1,1,0,1,True,0.250000,False,0.000000,0.0,0.000000,0.0,0.0,0.0
2,2,0,2,False,0.166626,False,0.000000,0.0,0.000000,0.0,0.0,0.0
3,3,0,3,True,0.111084,False,0.000000,0.0,0.000000,0.0,0.0,0.0
4,4,0,4,True,0.142822,False,0.000000,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
27314395,273139,3888,7192,True,0.142822,True,0.166626,0.0,0.166626,0.0,0.0,1.0
27314396,273140,3888,7193,False,0.142822,True,0.166626,0.0,0.166626,0.0,0.0,1.0
27314397,273141,3888,7194,False,0.000000,True,0.277832,0.0,0.166626,0.0,0.0,1.0
27314398,273142,3888,7195,False,0.111084,True,0.277832,0.0,0.166626,0.0,0.0,1.0
27314399,273143,3888,7196,True,0.856934,False,0.222168,0.0,0.000000,0.0,0.0,0.0